.button {
  text-align: center;
  width: 18rem;
  background-color: rgb(196, 41, 41);
  color: white;
  margin: 0.3rem auto;
  border: none;
  border-radius: 5px;
  transition: all 0.5s;
  font-family: Helvetica, sans-serif;
}

.button:hover {
  opacity: 0.6;
}

body {
  background-color: black;
  color: white;
}

/* .best-score-h1 {
  position: absolute;
  top: 25px;
  right: 10px;
} */

@media screen and (max-width: 600px) {
  .best-score-h1 {
    position: absolute;
    top: 25px;
    left: 10px;
    font-size: 1rem;
  }
}
