@import url("https://fonts.googleapis.com/css2?family=Advent+Pro&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: rgb(0, 5, 36);
  background: linear-gradient(
    335deg,
    rgb(140, 151, 218) 0%,
    rgba(199, 172, 172, 0.918) 67%,
    rgba(2, 82, 58, 0.658) 100%
  );
  height: 100vh;
  font-family: "Advent Pro", sans-serif;
  color: rgb(46, 31, 11);
}
.main {
  /* border: 2px solid fuchsia; */
  /* display: flex; */
  justify-content: center;
  align-items: center;
  padding: 1rem;
}

.container {
  /* border: 2px solid blue; */

  display: flex;
  /* justify-content: center; */
  flex-direction: column;
  align-items: center;
  padding: 1rem;
}
h1 {
  font-size: 2rem;
  margin-bottom: 1rem;
}
h2 {
  margin-bottom: 1rem;
}
input {
  width: 97%;
  margin-top: 5px;
  margin-bottom: 5px;
  border: none;
  border: 2px solid rgb(1, 46, 1);
  border-radius: 8px;
  padding: 0.3rem;
}

button {
  margin: 3px auto 5px;
  display: flex;
  justify-content: center;
  width: 30%;
  border-radius: 6px;
  padding: 0.3rem;
  cursor: pointer;
  background: none;
  color: white;
  border: 2px solid white;
  transition: all 0.4s;
}

button:hover {
  transform: scale(0.96);
  color: white;
  border: 2px solid green;
  background-color: green;
}

.todo-ul-list {
  list-style: none;
  width: 80%;
  font-size: 1.5rem;
  margin: auto;
}

li {
  display: flex;
  align-items: center;
  /* border: 2px solid green; */
  margin-bottom: 10px;
}

.fa-check {
  color: red;
}

.fa-solid {
  color: white;
  position: absolute;
  left: 20px;
  top: 20px;
  font-size: 2rem;
  cursor: pointer;
  transition: all 0.2s;
}

.fa-solid:hover {
  color: green;
}
.fa-trash {
  color: white;
}

ul li p {
  width: 100%;
  font-weight: bold;
}

li i {
  padding: 1rem;
  transition: 0.4s;
}

li i:hover {
  cursor: pointer;
  color: rgb(139, 3, 3);
  transform: scale(1.2);
}

li.completed .fa-check {
  color: green;
}

li.completed p {
  text-decoration: line-through;
  font-weight: lighter;
}

.inf {
  display: flex;
  justify-content: space-between;
}

@media screen and (max-width: 600px) {
  h1,
  h2 {
    font-size: 1.2rem;
  }
  .fa-solid,
  .fa-check,
  .fa-trash {
    font-size: 0.9rem;
  }
  .todo-ul-list {
    width: 100%;
    font-size: 1rem;
  }
  .clock,
  .date {
    font-size: 0.8rem;
  }
}
