@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: black;
  font-family: monospace;
}

.container2 {
  background-color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  padding: 20px 0;
  width: 80%;
  border: 1px solid white;
  transform: translate(-50%, -50%);
  box-shadow: 25px 25px 40px rgba(0, 0, 0, 0.3);
  font-size: 1.5rem;
  font-weight: 500;
  border-radius: 7px;
  display: grid;
  justify-items: center;
}

.colors {
  width: 95%;
  text-align: center;
}

input {
  display: inline-block;
  width: 85%;
  margin-left: 15px;
  margin-top: 30px;
}

.span {
  display: inline-block;
  text-align: center;
  margin: 20px 0;
  background-color: rgb(0, 92, 200);
  color: white;
  padding: 12px 30px;
  font-size: 1.6rem;
  letter-spacing: 0.7px;
  border-radius: 5px;
}

.span2 {
  font-family: "Space Mono", monospace;

  font-size: 2rem;
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: rgb(107, 105, 105);
    opacity: 0.8;
  }

  input[type="range"]:hover {
    opacity: 1;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 10px;
    -webkit-appearance: none;
    cursor: pointer;
    color: #13bba4;
    margin-top: -1px;
  }

  .slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 10px;
    width: 1rem;

    background: red;
    box-shadow: -40px 0 0 40px #43e5f7;
  }
}
