.todo-ul-list {
  list-style: none;
  border: 2px solid red;
}

li {
  display: flex;
  align-items: center;
  border: 2px solid green;
}

.fa-check {
  color: red;
}

.fa-trash {
  color: red;
}

ul li p {
  width: 100%;
}

li i {
  padding: 1rem;
  transition: 0.4s;
}

li i:hover {
  cursor: pointer;
  color: rgb(139, 3, 3);
  transform: scale(1.2);
}
